body {

    background-image: url( https://vd-n.github.io/metodos-de-ordenamiento/img/dark.jpg);
  
    background-repeat: no-repeat;
background-attachment: fixed;
    
    
    font-family: 'Fira Sans Condensed', sans-serif;

}