body {

    background-image: url( "https://raw.githubusercontent.com/VD-N/metodos-de-ordenamiento/master/img/dark.jpg");
  
    background-repeat: no-repeat;
background-attachment: fixed;
    
    
    font-family: 'Fira Sans Condensed', sans-serif;

}